<!---banner-area-->
<div class="banner-area">
  <div class="banner-area-fluid">
    <div class="container">
      <div class="banner-main">
        <div class="banner-content">
          <h3>All Listing</h3>
          <button>SIGN IN</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!---section1-->
<div class="section1">
  <div class="container">
    <div class="card-container">
      <div class="card" *ngFor="let data of [1,2,3,4,5]">
        <div class="card-bottom">
          <p class="card-title">Forex Tradding</p>
          <div class="cart-content">
            <div class="cart-content-left">
              <p>left</p>
            </div>
            <div class="cart-content-right">
              <p>right</p>
            </div>
          </div>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            sequi.
          </p>
          <div class="card-book-button">
            <button mat-stroked-button color="primary">Book</button>

          </div>
        </div>
        <div class="card_icons">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>edit</mat-icon>
          </button>
          <div class="example-button-container">
            <button mat-mini-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>delete</mat-icon>
            </button>
        </div>
      </div>

    </div>
  </div>
</div>

