<div class="section1">
  <div class="container">
    <div class="card-container">
      <div class="card" *ngFor="let data of [1,2,3,4,5]">
        <div class="card-bottom">
          <p class="card-title">Forex Tradding</p>
          <div class="cart-content">
            <div class="cart-content-left">
              <p>left</p>
            </div>
            <div class="cart-content-right">
              <p>right</p>
            </div>
          </div>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            sequi.
          </p>
          <div class="card-book-button">
            <button mat-stroked-button color="primary">Book</button>

          </div>
        </div>
        <div class="card_icons">
          <div class="card_edit_icon">
            <mat-icon>edit</mat-icon>
          </div>
          <div class="card_delete_icon">
            <mat-icon>delete</mat-icon>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
