<div class="reg-banner-area">
  <div class="container">
      <div class="banner-content">
          <h2>Registration </h2>
      </div>
  </div>
</div>

<div class="singup-form">
  <form >


    <div class="form-details-left">

      <div class="login-field">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Username</mat-label>
          <input required digitOnly type="text" formControlName="username" matInput>
          <mat-icon matSuffix>call</mat-icon>
        </mat-form-field>
      </div>

      <div class="first-name">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>First Name</mat-label>
          <input type="text" formControlName="firstName" matInput placeholder="Enter your first name">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>
      <div class="last-name">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Last Name</mat-label>
          <input type="text" formControlName="lastName" matInput placeholder="Enter your last name">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>

      <div class="pass-details">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Password</mat-label>
          <input autocomplete="new-password" [type]="isHidePassword ? 'password' : 'text'"  formControlName="password" matInput
                 placeholder="Minimum 6 characters with a number and latter">
          <mat-icon style="cursor: pointer" (click)="isHidePassword = !isHidePassword" matSuffix>{{isHidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error>Please enter your valid password</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input required type="email" formControlName="email" matInput placeholder="Enter valid email address">
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error>Please enter your valid email</mat-error>
      </mat-form-field>
      </div>

      <div class="type_select">
        <label id="example-radio-group-label">Select type</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let season of [1,2,3]" [value]="season">
            {{season}}
          </mat-radio-button>
        </mat-radio-group>
      </div>



    <div class="form-details-right">

      <!---sub-btn-->
      <div class="sub-btn">
        <button style="cursor: pointer;" type="submit" routerLink="/">Sign Up</button>
    </div>

    </div>

  </form>
</div>
